.release {
	@extend %unstyled;
	@include clearfix;

	padding: $distance-l 0;

	border-bottom: $border-s solid $black;

	&__image {
		float: left;

		width: 90px;
		height: 90px;
		margin-right: $distance-l;
	}

	&__title {
		display: inline-block;
		margin: 0;
	}

	&__artist {
		margin-top: $distance-xs;

		color: $gray;
	}
}
