// Grid

//$grid-gutter: 12px;


// Colors

$brand-color: 			#252730;

$black: 				#111;
$black-transparent:		rgba($black, 0.5);

$white: 				#fff;
$white-transparent:		rgba($white, 0.5);

$gray:					#737373;

$red:					#e6475d;
$blue:					#9386ff;
$orange:				#e49e36;
$green:					#1bc981;


// Spaces

$distance:					12px;

$distance-xs:				$distance / 4;
$distance-s:				$distance / 2;
$distance-m:				$distance;
$distance-l:				$distance * 2;
$distance-xl:				$distance * 4;


// Borders & Border radius

$radius-s:				1px;
$radius-m:				$radius-s * 2;
$radius-l:				$radius-m * 2;

$border-s:				1px;
